.header-custom {
    background-color: nth($colors , 1 );
    .logo-custom {
        display: inline-block;
        font-family: $fontFamily;
        width: 8%;
        font-weight: bold;
        text-decoration: none;
        color: nth($colors , 2 );
        position: relative;
        transition: .3s ease all;
        overflow: hidden;
        &:hover {
            color: nth($colors , 3 );
        }
        .icon-watch {
            color: nth($colors , 3 );
            position: absolute;
            left: -25%;
            opacity: 0;
            transition: .2s ease all;
        }
        &:hover .icon-watch {
            left: 85%;
            opacity: 1;
        }
        &::after {
            content: "";
            height: 100%;
            width: 85%;
            border-bottom: 1px solid nth($colors , 3 );
            position: absolute;
            top: 0;
            left: -100%;
            transition: .4s ease all;
            opacity: 0;
        }
        &:hover::after {
            left: 0;
            opacity: 1;
        }
    }
    .item-custom {
        .nav-link {
            padding: 10px 30px;
            font-size: 1rem;
            font-family: $fontFamily;
            color: nth($colors , 3 );
            text-align: center;
            transition: .3s ease all;
            &:hover {
                color: black;
            }
            span {
                display: inline-block;
                position: relative;
                transition: .3s ease all;
                overflow: hidden;
                &::after {
                    content: "";
                    height: 100%;
                    width: 100%;
                    border-bottom: 1px solid black;
                    position: absolute;
                    left: -100%;
                    top: 0;
                    transition: .3s ease all;
                    opacity: 0;
                    
                }
            }
            &:hover span::after {
                left: 0;
                opacity: 1;
            }
        }
    }
    .widgets {
        .container-cart {
            color: nth($colors , 3 );
            margin-left: 15px;
            cursor: pointer;
            transition: .3s ease all;
            &:hover {
                color: black;
            }
            svg {
                width: 20px;
                height: 20px;
            }
        }
        .container-login {
            margin-left: 15px;
            margin-right: 10px;
            color: nth($colors , 3 );
            cursor: pointer;
            transition: .3s ease all;
            &:hover {
                color: black;
            }
            svg {
                width: 24px;
                height: 24px;
            }
        }
    }
}